<?xml version="1.0"?>
<!--
/**
* Easylife_GridEnhancer extension
*
* NOTICE OF LICENSE
*
* This source file is subject to the MIT License
* that is bundled with this package in the file LICENSE_GRID_ENHANCER.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/mit-license.php
*
* @category       Easylife
* @package        Easylife_GridEnhancer
* @copyright      Copyright (c) 2013
* @license        http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <tabs>
        <easylife_gridenhancer translate="label" module="easylife_gridenhancer">
            <label>Grid enhancer</label>
            <sort_order>1000</sort_order>
        </easylife_gridenhancer>
    </tabs>
    <sections>
        <easylife_gridenhancer translate="label" module="catalog">
            <class>separator-top</class>
            <label>Grid enhancer</label>
            <tab>easylife_gridenhancer</tab>
            <frontend_type>text</frontend_type>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <notice translate="label comment">
                            <label>Show notice after X columns are added</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>0 for no notice</comment>
                        </notice>
                    </fields>
                </settings>
                <disable translate="label">
                    <label>Disable grid columns management</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <frontend_model>easylife_gridenhancer/adminhtml_system_config_form_fieldset_disable</frontend_model>
                </disable>
            </groups>
        </easylife_gridenhancer>
    </sections>
</config>